@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .heading-spacer {
    padding-top: 4em;
  }

  @media (min-width: 768px) {
    .heading-spacer {
      padding-top: 6em;
    }
  }
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 200,500,800;
    font-display: swap;
    src: url('/font/Cabin-VariableFont.ttf') format('truetype');
}

@font-face {
    font-family: 'Rans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/font/rans____.ttf') format('truetype');
}

body {
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-family: 'Rans', sans-serif;
}

.hero-bg {
    background-image: url('/img/hero/hero_photoshoot_vertical.jpg');
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    @media (min-width: 768px) {
      background-image: url('/img/hero/hero_photoshoot.jpg');
    }
}

